body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 15px;
}

.container {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0 auto;
}

.none {
   display: none;
}

.no-scroll {
   overflow: hidden;
}